{% extends 'base.html.twig' %}
{% block titulo %}
  <h1 id="titulo">Reservar</h1>
{% endblock %}
{% block body %}
    {# <div class="container">
        <div class="row">
          <div class="col-12"> #}
              <form id="filtro" class="trip-form" data-tramo="{{tramo}}"">
                <div class="row">
                  <div class="form-group col-md-3">
                    <label for="dia">Día</label>
                    <input type="text" id="dia" class="form-select form-control" value = "{{ dia }}" readonly>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="horaInicio">Hora inicio</label>
                    <input type="text" id="horaInicio" class="form-select form-control" value = "{{ horaInicio }}" readonly>
                  </div>
                  <div class="form-group col-md-3">
                    <label for="horaFin">Hora fin</label>
                    <input type="text" id="horaFin" class="form-select form-control" value = "{{ horaFin }}" readonly>
                  </div>
                </div>
              </form>
              <div id="coche_{{coche.id}}" class="contenedorCoches">
                <div class="row align-items-center mb-4">
                  <div class="col-md-6">
                    {# <h3 class="m-0">{{coche.nombre}}</h3> #}
                    <h1 class="m-0">{{coche.marca}} {{coche.modelo}}</h1>
                  </div>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        {# <img src="/bd/488.jpg"></img> #}
                        <div style='background-image: url(/bd/{{coche.imagen}}); width: 100%; background-size: 70%; background-repeat: no-repeat; background-position: center; height:210px'></div>
                    </div>
                    <div class="col-lg-6">
                    <p>Potencia: {{coche.potencia}} CV</p>
                    <p>Cilindrada: {{coche.cilindrada}} cm3</p>
                    <p>Velocidad máxima: {{coche.velocidad}} km/h</p>
                    <p class="precio" value={{coche.precio * tramo }}>Precio: {{coche.precio * tramo }}€</p>
                    </div>
                </div>
              </div>
                <div class="row m-5" id="ultimafila">
                  <div class="col-12 m-5 d-flex flex-row-reverse">
                  <span id="total" class="mx-5" value="{{coche.precio * tramo}}">Precio total:{{coche.precio * tramo}}€<span>
                  </div>
                  <div class="col-12">
                    <input type="button" value="Pagar" data-bs-toggle='modal' data-bs-target='#exampleModal' class="btn btn-success float-right" id="btnPagar">
                    <select id="cf-2" class="form-select form-control float-left col-3 mb-4" aria-label="Default select example">
                      <option selected value="0">-Añade otro coche-</option>
                    </select>
                  </div>
                </div>
              

              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Pagar reserva</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="row gx-3">
                                <div class="col-12">
                                    <div class="d-flex flex-column">
                                        <p class="text mb-1">Titular de la tarjeta</p> <input class="form-control mb-3" type="text" placeholder="Titular">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="d-flex flex-column">
                                        <p class="text mb-1">Nº tarjeta</p> <input class="form-control mb-3" type="text" placeholder="1234 5678 435678">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="d-flex flex-column">
                                        <p class="text mb-1">Fecha de expiración</p> <input class="form-control mb-3" type="text" placeholder="MM/YYYY" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="d-flex flex-column">
                                        <p class="text mb-1">CVV</p> <input class="form-control mb-3 pt-2 " type="password" maxlength="3" placeholder="***"  autocomplete="off" required>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="btn btn-success mb-3" id="btnPagarFinal"> <span class="ps-3">Pagar $243</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            {# </div>
        </div>
      </div> #}
{% endblock %}
{% block lib %}
  <script src="{{ asset('js/lib/lib-reserva.js') }}"></script>
{% endblock %}